// theme Color
$primary: hsl(39, 89%, 49%); // Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
$primary-lite: hsl(40, 84%, 53%); //  
$secondary: hsl(230, 89%, 62%); // Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%) 
$secondary-lite: hsl(230, 89%, 65%);
$info: hsl(261, 73%, 60%); //Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
$info-lite: hsl(261, 72%, 63%);
$danger: hsl(349, 71%, 52%); //Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
$danger-lite: hsl(349, 70%, 56%);
$success: hsl(189, 59%, 53%); // hsl(189, 59%, 53%) to hsl(189, 58%, 57%) 
$success-lite: hsl(189, 58%, 57%);
$warning: hsl(229, 64%, 46%); // Score Text
$light: hsl(0, 0%, 100%); // White 
$grey: hsl(217, 16%, 45%); // Header Outline
$dark: hsl(229, 25%, 31%); // Dark Text
$bg: hsl(214, 47%, 23%); //Radial Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%)
$bg-lite: hsl(237, 49%, 15%);