.btn {
    padding: 0.75rem 3rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: $transition-timing all;

    &:hover {
        transform: scale(1.1);
    }

    &:focus-visible {
        outline: none;
    }

    .btn-text {
        font-weight: 700;
        letter-spacing: 2px;
    }
}

.btn-outline-light {
    border-color: $light;
}