.back-drop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($bg-lite, 0.7);
    z-index: 20;


    .overlay-content {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10rem;
        border-radius: 0;

        @include breakpoint-up(md) {
            position: static;
            height: auto;
            width: auto;
            display: block;
            padding: 2rem;
            border-radius: 12px;
        }

        .overlay-header {
            margin: 0 0 2.5rem;

            @include breakpoint-up(md) {
                position: relative;
            }

            .overlay-title {
                font-size: 2rem;
                text-transform: uppercase;
                color: $bg;
            }

            .overlay-close {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);

                @include breakpoint-up(md) {
                    top: 50%;
                    left: 90%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}