body {
    background-image: radial-gradient($bg, $bg-lite);
}

.main-content {
    .game-body {
        width: 450px;
        height: 450px;
        margin: auto;
    }

    .game-bkg {
        left: 50%;
        top: 50%;
        width: 350px;
        transform: translate(-50%, -50%);
    }

    .chip-hover {
        &:hover {
            transform: scale(1.1);
        }
    }

    .chip-before {
        width: 200px;
        height: 200px;

        .inner-circle {
            height: 140px;
            width: 140px;
        }
    }

    .chip-after {
        height: 280px;
        width: 280px;

        .inner-circle {
            height: 200px;
            width: 200px;
        }
    }

    .img-game-play {
        width: 80px;
    }

    .chip-container {

        transition: $transition-timing all;

        &.chip-paper {
            left: 0;
            top: 0;
            background-color: $secondary-lite;
            border: 1px solid $secondary;
            box-shadow: 0 10px 0 0 $secondary;
        }

        &.chip-scissors {
            right: 0;
            top: 0;
            background-color: $primary-lite;
            border: 1px solid $primary;
            box-shadow: 0 10px 0 0 $primary;
        }

        &.chip-rock {
            bottom: 0;
            background-color: $danger-lite;
            border: 1px solid $danger;
            box-shadow: 0 10px 0 0 $danger;
        }

        &.chip-default {
            .inner-circle {
                background-color: rgba($bg-lite, 0.3);
                box-shadow: none;
                width: 220px;
                height: 220px;
            }
        }

        .inner-circle {
            background-color: white;
            box-shadow: inset 0 8px 0 0 rgba($grey, 0.3);
        }
    }

    .game-play-container {
        width: 650px;
        margin: auto;
        padding: 3rem 0;
        transition: $transition-timing all;

        &.game-over {
            width: 80%;
        }
    }

    .game-title {
        padding-bottom: 4rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 3px;
    }

    .result-box {
        bottom: 0; //15rem
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        opacity: 0;
        transition: $transition-timing all;

        &.game-over {
            opacity: 1;
            bottom: 15rem;
        }

        .btn-text {
            color: $bg;
            font-weight: 700;
        }

        .result-title {
            font-size: 3.5rem;
            text-transform: uppercase;
            padding: 1rem 0;
        }
    }
}