body {
    background-image: radial-gradient($bg, $bg-lite);
}

.main-content {
    .game-body {
        width: 450px;
        height: 450px;
        margin: auto;
    }

    .game-bkg {
        left: 50%;
        top: 50%;
        width: 350px;
        transform: translate(-50%, -50%);
    }

    .chip-container {
        width: 200px;
        height: 200px;
        transition: $transition-timing all;

        &:hover {
            transform: scale(1.1);
        }

        &.chip-paper {
            left: 0;
            top: 0;
            background: $secondary-lite;
            border: 1px solid $secondary;
            box-shadow: 0 10px 0 0 $secondary;
        }

        &.chip-scissors {
            right: 0;
            top: 0;
            background: $primary-lite;
            border: 1px solid $primary;
            box-shadow: 0 10px 0 0 $primary;
        }

        &.chip-rock {
            bottom: 0;
            background: $danger-lite;
            border: 1px solid $danger;
            box-shadow: 0 10px 0 0 $danger;
        }

        .inner-circle {
            height: 140px;
            width: 140px;
            background: white;
            box-shadow: inset 0 8px 0 0 rgba($grey, 0.3);
        }
    }
}