#footer {
    flex: 0 0 70px;
    padding: 0 5vw;

    @include breakpoint-up(md) {
        flex: 0 0 100px;
    }

    .footer-content {
        text-align: center;

        @include breakpoint-up(md) {
            text-align: end;

        }
    }
}